body {
  background-color: #427852;
}

header {
  background-color: #202020;
}

.logo {
  width: 100%;
  height: 100px;
  padding: 5px;
}

.column-half,
.column-one-fifth {
  padding: 15px;
}

.img-box img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: solid black;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.img-box:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.home-button {
  background-color: #202020;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.info-card {
  margin-top: 40px;
  background-color: #f0d6a8;
  padding: 20px;
  border: solid black;
  border-radius: 10px;
}

.card-text {
  padding: 10px 20px;
  width: 100%;
}

.card-img img {
  object-fit: cover;
  border: solid black;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.search-wrapper {
  padding: 10px;
  margin: 40px auto 0;
  display: flex;
  align-items: center;
  width: 70%;
  background-color: #f0d6a8;
  border: solid black;
  border-radius: 10px;
}

.search-bar {
  margin: 0 0.5rem;
  width: 100%;
  background-color: #f0d6a8;
  color: black;
  outline: none;
  border: none;
  font-size: 20px;
}

.search-icon {
  cursor: pointer;
}

.cancel-icon {
  cursor: pointer;
  font-size: 20px;
}

.quotes-button,
.death-button,
.random-death-button,
.random-quote-button {
  cursor: pointer;
  height: 40px;
  width: 80px;
  font-size: 18px;
  background-color: #f0d6a8;
  border: solid #427852;
  border-radius: 5px;
}

.random-quote-button,
.random-death-button {
  border: solid black;
  width: 200px;
  height: 80px;
}

.random-quote-button-div,
.random-death-button-div {
  margin-top: 40px;
  text-align: center;
}

.quote-info {
  font-size: 20px;
  text-align: center;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 150px;
  }
}
