body {
  background-color: #427852;
}

header {
  background-color: #202020;
}

.logo {
  width: 150px;
  height: 100px;
  padding: 5px;
}

.column-half,
.column-one-fifth {
  padding: 15px;
}

.img-box img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: solid black;
}

.text-center {
  text-align: center;
}

.img-box:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.text-right {
  text-align: right;
}

.home-button {
  background-color: #202020;
  border: none;
  color: white;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  padding: 40px 20px;
}

.info-card {
  margin-top: 40px;
  font-family: "DM Sans", sans-serif;
  background-color: #f0d6a8;
  padding: 20px;
  border: solid black;
  border-radius: 10px;
}

.card-text {
  padding: 10px 20px;
  width: 100%;
}

.card-img img {
  object-fit: cover;
  border: solid black;
  border-radius: 5px;
  width: 100%;
  height: 358px;
}
